################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/build
/out/build/x64-Debug
/.vs
/.vscode
